<template>
    <div class="container">
        <div class="items-area">
            <div class="goods" v-for="book in chosenData" :key="book.id">
                <div class="item">
                    <div class="top-box">
                        <div class="image-box">
                            <img :src="`http://${book.image}`">
                        </div>
                        <div class="item-info">
                            <div class="item-price">
                                <p>{{ book.price }}$</p>
                            </div>
                            <div class="item-title">
                                <p>{{ book.name }}</p>
                            </div>
                            <div class="buy-btn-box">
                                <div class="delete">
                                    <p  @click="deleteItem(book)">удалить</p>
                                </div>
                                <button class="buy-btn" @click="addToBasket(book)">Купить</button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="footer-box">
                        <div class="rating-area">
                            <star-rating :rating='book.rating' :star-size="30" :increment="0.01" :read-only="true"></star-rating>
                        </div>
                        <div class="comments-btn">
                            <p @click="commentsShow(book)" ><i class="far fa-comment-alt"></i> {{ book.reviews.length }}</p>
                        </div>
                    </div>
                </div>
               
                 <div v-if="index==book.id" class="comments" :id="book.id" >
                     <div class="close">
                         <div @click="close()">x</div>
                     </div>
                     <div v-for="com in book.reviews" :key='com.id'>
                         <p><span class="user-name">{{ com.user_name }}</span> {{ com.comment }} <br/> Оценка: <span>{{  com.rating }}</span></p>
                     </div>
                     <div class="add-comment-area">
                         <input type="text" class="add-comment" v-model="comment" >
                         <p>Рейтинг: <star-rating v-model="rating" :star-size="20"></star-rating></p>
                         <button class="add-comment-btn" @click="addComment(book)">Отправить</button>
                     </div> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import StarRating from 'vue-star-rating'
import {mapGetters} from 'vuex'
export default {
   data() {
            return {
                rating: 0,
                comment: null,
                index:-1,
            }
   },
   mounted(){
        /* eslint-disable no-console */
        this.$store.dispatch('getItem');
        console.log(this.chosenData)
   },
   computed: mapGetters({
            chosenData: 'chosenData',
            itemData: 'itemData',
    }),
    components: {
        StarRating
    },
    methods:{
        commentsShow: function(book){
            this.index = book.id
            this.rating = 0
            this.comment = null
            },
        close: function(){
            this.index = -1
        },
        addToBasket: function(book){
            if(this.itemData == null){
                this.itemData = []
            }
            let checkIfItemExistsInBasket = this.itemData.find( (item) =>  { return item.id === book.id } );
              
            if (checkIfItemExistsInBasket !== undefined){
                checkIfItemExistsInBasket.quantity ++;
            }
            else{
                this.itemData.push({
                    id : book.id,
                    quantity : 1,
                    price: book.price,
                    name: book.name,
                    rating: book.rating,
                    image: book.image
                }) 
            }
            this.$store.dispatch('itemsData',this.itemData);
            
            },
            addComment: function(book){
                const comment = {
                    book_id: book.id,
                    rating: this.rating,
                    comment: this.comment
                }
                this.$store.dispatch('addComment',comment);
                this.comment = null
                this.rating = 0
            },
            deleteItem: function(book){
                const index = this.chosenData.findIndex( item =>  item.id == book.id )   
                if( index != -1 ){
                    this.chosenData.splice(index,1)
                    this.$store.dispatch('chosenData',this.chosenData);
            }
            },
        },

}
</script>

<style scoped>
    .container{
        margin-top: 95px;
        width: 100%;
        height: 100%;
        min-height: 600px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
    }

    .items-area{
        width: 1176px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .item{
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        margin: 10px 8px 12px 0;
        width: 1176px;
        background: #fff;
        height: 280px;
        overflow: hidden;
    }

    .top-box{
        width: 1176px;
        height: 230px;
        display: flex;
    }

    .image-box{
        width: 280px;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-box img{
        width: 150px;
        height: 150px;
    }

    .item-info{
        width: 890px;
        height: 230px;
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
    }

    .item-price{
        width: 890px;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #4e4e4e;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .item-price p{
        margin-right: 30px;
    }

    .item-title{
        width: 890px;
        height: 110px;
        font-size: 40px;
        font-weight: bold;
        color: #4e4e4e;
        display: flex;
        align-items: center;
    }

    .buy-btn-box{
        width: 890px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delete{
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
    }

    .delete p{
        cursor: pointer;
    }

    .buy-btn{
        background: #fff;
        color: #333;
        border: 1px solid #d9d9d9;
        font-weight: normal;
        border-radius: 8px;
        height: 50px;
        min-width: 158px;
        padding: 0;
        font-size: 16px;
        outline: none;
        cursor: pointer;
        text-align: center;
        margin-right: 30px;
    }

    .item:hover .buy-btn{
        background-color: #8800a0;
        color: #fff;
        font-weight: bold;
    }

    .footer-box{
        width: 1176px;
        height: 50px;
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
    }

    .chosen{
        font-size: 25px;
        margin-left: 20px;
        cursor: pointer;
    }

    .rating-area{
        margin-left: 50px;
    }

    .comments-btn{
        margin-left: 10px;
        margin-top: 10px;
        cursor: pointer;
    }

    .comments{
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        margin: 10px 8px 12px 0;
        width: 1176px;
        background: #fff;
        overflow: hidden;
        display: block;
    }

    .comments p{
        margin: 10px 15px;
    }

    .comments span{
        font-weight: bold;;
    }

    .add-comment-area{
        display: flex;
        align-items: center;
    }

    .add-comment{
        width: 500px;
        height: 30px;
        margin: 20px 20px;
        border-radius: 8px;
        border: 1px solid grey;
        outline: none;
        font-size: 17px;
    }

    .add-comment-btn{
        width: 100px;
        height: 30px;
        color: #fff;
        background-color: #4c2f75;
        border-color: #402863;
        font-weight: normal;
        font-size: 15px;
        line-height: 1.42857;
        border-radius: 4px;
        outline: none;
    }

    .close{
        width: 1100px;
        height: 30px;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .close div{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        cursor: pointer;
    }

    .close div:hover{
        background-color: grey;
    }
</style>