<template>
    <div class="navbar-media">
                <div class="catalog-btn-media">
                    <p> <b>Каталог тобаров <i class="fas fa-sort-down"></i></b></p>
                    <span><i class="fas fa-sort-down"></i></span>
                </div>
                <form action="/search/" class="search-form-media"><input type="search" class="search-input-media" placeholder="  Поиск среди более 100 000 товаров"></form>
                <div class="navbar-icons-media"><i class="fas fa-shopping-basket"></i></div>
                <div class="navbar-icons-media"><i class="fas fa-bars"></i></div>
    </div>
</template>
<style>
    .navbar-media{
        width: 100%;
        height: 60px;
        background-color: white;
        box-shadow: 0px 0px 10px 0px #80808073;
        display: none;
    }

.catalog-btn-media{
    width: 200px;
    height: 40px;
    background-color: #8800a0;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.catalog-btn-media span{
    display: none;
    font-size: 30px;
}

.catalog-btn-media:hover{
    background-color: #b738ce;
}

.search-form-media{
    width: 50%;
}

.search-input-media{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    border: 1px solid #cccccc;
    margin-left: 25px;
    margin-right: 10px;
}

.navbar-icons-media{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 25px;
}

    @media only screen and (max-width: 990px){
    .navbar-media{
        display: flex;
        align-items: center;
        justify-content: space-around;
        }
    }

    @media only screen and (max-width: 700px){
        .catalog-btn-media{
            width: 100px;
        }

        .catalog-btn-media span{
            display: block;
        }

        .catalog-btn-media p{
            display: none;
        }
    }
</style>