<template>
    <div class="dropdown-catalog">
        <router-link to="/appliances">
            <div class="catalog-items">
                <p class="item-name">Бытовая техника</p>
                <p class="item-info">для дома уход за собой</p>
            </div>
        </router-link>
        <router-link to="/smartphones">
                <div class="catalog-items">
                    <p class="item-name">Смартфоны</p>
                    <p class="item-info">планшеты фототехника</p>
                </div>
        </router-link>
        <router-link to="/TV-and-entertainment">
            <div class="catalog-items">
                <p class="item-name">ТВ и Развлечения</p>
                <p class="item-info">аудио/видеоигры</p>
            </div>
        </router-link>
        <router-link to="/computers">
            <div class="catalog-items">
                <p class="item-name">Компьютеры</p>
                <p class="item-info">комплектующие ноутбуки</p>
            </div>
        </router-link>
        <router-link to="/office-and-network">
            <div class="catalog-items">
                <p class="item-name">Офис и сеть</p>
                <p class="item-info">кресла проекторы</p>
            </div>
        </router-link>
        <router-link to="/accessories">
            <div class="catalog-items">
                <p class="item-name">Аксессуары</p>
                <p class="item-info">наушники клавиатуры</p>
            </div>
        </router-link>
        <router-link to="/cars-products">
            <div class="catalog-items">
                <p class="item-name">Автотовары</p>
                <p class="item-info">звук автокресла</p>
            </div>
        </router-link>
        <router-link to="/instruments">
            <div class="catalog-items">
                <p class="item-name">Инструменты</p>
                <p class="item-info">силовой садовый</p>
            </div>
        </router-link>
        <router-link to="/services">
            <div class="catalog-items">
                <p class="item-name">Услуги</p>
                <p class="item-info">установка демонтаж</p>
            </div>
        </router-link>
        <router-link to="/discounted-goods">
            <div class="catalog-items">
                <p class="item-name">Уцененные товары</p>
            </div>
        </router-link>
        
    </div>
</template>

<style scoped>
    .dropdown-catalog{
        width: 300px;
        height: 600px;
        position: absolute;
        background-color: #ffffff;
        top: 94px;
        display: none;
        border-radius: 0px 0px 20px 20px;
    }

    .dropdown-catalog a{
        text-decoration: none;
    }

    .dropdown-show{
        display: block;
    }

    .catalog-items{
        width: 300px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .catalog-items:hover{
        background-color: #f6f6f6;
    }

    .item-name{
        width: 300px;
        color: black;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .item-info{
        width: 300px;
        color: gray;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

</style>