<template>
    <div class="container">
        <div class="group-tab">
            <div class="items-area">
                
                    <div class="item" v-for="book in itemData" :key="book.id ? book.id :''">
                        <div class="image-box">
                            <img :src="`${book.image}`">
                        </div>
                        <div class="item-title">
                            <p>{{ book.name }}</p>
                        </div>
                        <div class="quantity-area">
                            <div class="delete">
                                <p>{{ book.quantity }}</p>
                            </div>
                        </div>
                        <div class="item-price">
                            <p>{{ book.price * book.quantity }}$</p>
                        </div> 
                    </div>
                
            </div>
            <div class="order">
                <div class="total-price">
                    <p>Итого: {{ totalBalance }}$</p>
                </div>
                <div class="input-area">
                    <label for="phone">Сотовый телефон</label>
                    <input type="text" id="phone" v-model="phone" v-mask="'+7(###)###-####'" placeholder="+7 (___) ___-____">
                </div>
                <div class="input-area">
                    <label for="adress">Адрес</label>
                    <input type="text" id="adress" v-model="address">
                    <p class="error"> {{ orderErr }} </p>
                </div>
                <div class="order-btn-area">
                    <router-link to="/order">
                        <button class="order-btn" @click="sendOrder()">Оформить заказ</button>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import Vue from 'vue'
import VueMask from 'v-mask'
Vue.use(VueMask);
export default {
    /* eslint-disable no-console */
   data() {
            return {
                phone: null,
                address: null,
                orderErr: null,
            }
   },
   computed: mapGetters({
            itemData: 'itemData',
            token: 'token',
            totalBalance: 'totalBalance',
            successOrder: 'successOrder',
            orderError: 'orderError',
    }),
   mounted(){
        this.$store.dispatch('getItem'); 
   },
    watch: {
        'token'(newVal){
            if(newVal == null){
                console.log("1")
                this.$router.push('/basket')
            }
        },
        'successOrder'(newVal){
            if(newVal){
                console.log("2")
                this.$router.push('/story')
            }else{
                console.log("3")
            }
        },
        'orderError'(newVal){
                if(newVal){
                this.orderErr = 'неверный адрес или номер телефона'
            }
        }
    },
    methods:{
        sendOrder: function(){
            const order_books = []
            for(var i = 0;i < this.itemData.length;i++){
                order_books.push({
                    book_id : this.itemData[i].id,
                    quantity : this.itemData[i].quantity
                })
            }
            const order = {
                order_books: order_books,
                customer_phone: this.phone,
                customer_address: this.address
            }
            this.$store.dispatch('sendOrder',order);
        },       
    },
}
</script>

<style scoped>
    .container{
        width: 100%;
        min-height: 967px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
    }

    .group-tab{
        width: 1176px;
        display: flex;
        justify-content: space-between;
    }

    .items-area{
        width: 801px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: flex-start
    }

    .item{
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        margin: 10px 8px 12px 0;
        width: 801px;
        background: #fff;
        height: 80px;
        overflow: hidden;
        display: flex;
    }

    .image-box{
        width: 100px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-box img{
        width: 40px;
        height: 50px;
    }

    .item-info{
        width: 701px;
        height: 800px;
        display: flex;
        align-content: center;
        justify-content: space-around
    }

    .item-title{
        width: 300px;
        height: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #4e4e4e;
        display: flex;
        align-items: center;
    }

    .quantity-area{
        width: 101px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .item-price{
        width: 300px;
        height: 80px;
        font-size: 30px;
        font-weight: bold;
        color: #4e4e4e;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-price p{
        margin-right: 30px;
    }

    .order{
        width: 370px;
        height: 430px;
        margin-top: 10px;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        background: #fff;
        display: flex;
        flex-wrap: wrap;
    }

    .total-price{
        width: 370px;
        height: 150px;
        display: flex;
        align-items: center;
    }

    .total-price p{
        margin-left: 10px;
        font-weight: bolder;
        font-size: 30px;
    }

    .input-area{
        width: 370px;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .input-area label{
        width: 360px;
        margin-left: 10px;
        font-size: 20px;
    }

    .input-area input{
        width: 300px;
        height: 30px;
        font-size: 15px;
        color: #555;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-left: 10px;
    }

    .order-btn-area{
        width: 370px;
        height: 80px;
        display: block;
    }

    .order-btn{
        width: 370px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background: linear-gradient(to top, #8012c3, #ad00cc);
        color: #fff;
        border-style: hidden;
        outline: none;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
    }

    .error{
        color:red;
        margin-left: 10px;
    }
    
</style>