<template>
    <div class="container">
        <div class="tables">
            <table v-for="ord in orders" :key="ord.id" class="order-table">
                <tr v-for="item in ord.order_books" :key="item.id">
                    <td class="order-title">{{ item.book }}</td>
                    <td class="order-count">{{ item.count }}</td>
                    <td class="order-price">{{ item.price }}$</td>
                    <td class="order-item-total-prise">{{ item.itemTotal }}</td>
                </tr>
                <tr>
                    <td class="order-data">{{ ord.created_at }}</td>
                    <td colspan="3">Итого: {{ ord.totalPrice }}</td>
                </tr>
            </table>
            <div class="change-page">
                <button class="left" @click="previousPage()"><i class="fas fa-arrow-left"></i></button>
                <button class="right" @click="nextPage()"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    /* eslint-disable no-console */
   data() {
            return {
                page: 1,
            }
   },
   computed: mapGetters({
            orders: 'orders',
            pageData: 'pageData',
            token: 'token'
    }),
   mounted(){
        this.$store.dispatch('getStory'); 
   },
   watch: {
        'token'(newVal){
            if(newVal == null){
                this.$router.push('/appliances')
            }
        },
    },
    methods:{
            nextPage(){
                if(this.page < this.pageData.last_page){
                this.page ++
                const page = this.page
                this.$store.dispatch('getStory',page);
                }
            },
            previousPage(){
                if(this.page > 1){
                this.page --
                const page = this.page
                this.$store.dispatch('getStory',page);
                }
            }
    },
}
</script>

<style scoped>
    .container{
        width: 100%;
        min-height: 967px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
        margin-top: 95px;
    }

    .tables{
        width: 1176px;
    }

    .order-table{
        border: 1px solid #b710b7;
        border-collapse: collapse;
        margin-bottom: 50px;
    }

    .order-table tr,td{
        border: 1px solid #b710b7;
    }

    .order-table td{
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
    }

    .order-title{
        width: 400px;
        height: 50px;
    }

    .order-count{
        width: 100px;
        height: 50px;
    }

    .order-price{
        width: 100px;
        height: 50px;
    }

    .order-data{
        width: 900px;
        height: 50px;
    }

    .order-item-total-prise{
        width: 100px;
        height: 50px;
    }

    .change-page{
        width: 1176px;
        display: flex;
        justify-content: center;
    }

    .left{
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin-right: 200px;
    }

    .right{
        width: 50px;
        height: 50px;
        font-size: 20px;
        margin-left: 200px;
    }
    
</style>