<template>
    <div class="container">
        <div v-if="noItemInfo">
            <p>В корзине нет товаров</p>
        </div>
        <div class="group-tab" v-if="groupTab">
            <div class="items-area">
                <div class="goods" v-for="book in itemData" :key="book.id ? book.id :''">
                    <div class="item">
                        <div class="top-box">
                            <div class="image-box">
                                <img :src="`${book.image}`">
                            </div>
                            <div class="item-info">
                                <div class="item-price">
                                    <p>{{ book.price * book.quantity }}$</p>
                                </div>
                                <div class="item-title">
                                    <p>{{ book.name }}</p>
                                </div>
                                <div class="quantity-area">
                                    <div class="delete">
                                        <p  @click="deleteItem(book)">удалить</p>
                                    </div>
                                    <div class="quantity">
                                        <div class="plus-btn" @click="plusQuantity(book)">+</div>
                                        <div><input type="number" :value="book.quantity" @change="changeQuantity(book)" :id="'quantity' + book.id"></div>
                                        <div class="min-btn" @click="minusQuantity(book)">-</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="footer-box">
                            <div class="rating-area">
                                <star-rating :rating='book.rating' :star-size="30" :increment="0.01" :read-only="true"></star-rating>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order">
                <div class="total-price">
                    <p>Итого: {{ totalBalance }}$</p>
                </div>
                <div class="order-btn-area">
                    <router-link :to="path">
                        <button class="order-btn" id="orderBtn">Оформить заказ</button>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import StarRating from 'vue-star-rating'
import {mapGetters} from 'vuex'
export default {
    /* eslint-disable no-console */
   data() {
            return {
                path: '/order',
                groupTab: null,
                noItemInfo: null
            }
   },
   computed: mapGetters({
            itemData: 'itemData',
            totalBalance: 'totalBalance',
            token: 'token'
    }),
   mounted(){
        this.$store.dispatch('getItem');
         if(this.token == null){
                this.path = '/registration/?route=order'
            }else(
                this.path = '/order'
            )
        if(this.itemData.length == 0){
            this.groupTab = false
            this.noItemInfo = true
        }else if(this.itemData.length > 0){
            this.groupTab = true
            this.noItemInfo = false
        }
   },
    components: {
        StarRating
    },
    watch: {
        'token'(newVal){
            if(newVal == null){
                this.path = '/registration/?route=order'
            }else(
                this.path = '/order'
            )
        },
        'itemData'(newVal){
            if(newVal.length == 0){
                this.groupTab = false
                this.noItemInfo = true
            }else if(newVal.length > 0){
                this.groupTab = true
                this.noItemInfo = false
            }
        },
    },
    methods:{
            plusQuantity: function(book){
                this.itemData.find( (item) =>  { 
                    if(item.id === book.id){
                        item.quantity++
                        this.$store.dispatch('itemsData',this.itemData);
                    } 
                    } );
            },
            minusQuantity: function(book){
                const index = this.itemData.findIndex( item =>  item.id == book.id )   
                if( index != -1 ){
                    this.itemData[index].quantity --
                    if(this.itemData[index].quantity == 0){
                        this.itemData.splice(index,1)
                    }
                    this.$store.dispatch('itemsData',this.itemData);
                } 
            },
            changeQuantity: function(book){
                const index = this.itemData.findIndex( item =>  item.id == book.id )   
                if( index != -1 ){
                    this.itemData[index].quantity = parseInt(document.getElementById('quantity' + book.id).value)
                    if(this.itemData[index].quantity <= 0){
                        this.itemData.splice(index,1)
                    }
                    this.$store.dispatch('itemsData',this.itemData);
                } 
            },
            deleteItem: function(book){
                const index = this.itemData.findIndex( item =>  item.id == book.id )   
                if( index != -1 ){
                    this.itemData[index].quantity = null;
                    this.itemData.splice(index,1)
                    this.$store.dispatch('itemsData',this.itemData);
            }
            },
        },
}
</script>

<style scoped>
    .container{
        margin-top: 95px;
        width: 100%;
        height: 100%;
        min-height: 600px;
        background-color: #f6f6f6;
        display: flex;
        justify-content: center;
    }

    .group-tab{
        width: 1175px;
        display: flex;
        justify-content: space-between;
    }

    .items-area{
        width: 801px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .item{
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        margin: 10px 8px 12px 0;
        width: 801px;
        background: #fff;
        height: 280px;
        overflow: hidden;
    }

    .top-box{
        width: 801px;
        height: 230px;
        display: flex;
    }

    .image-box{
        width: 200px;
        height: 230px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-box img{
        width: 80px;
        height: 100px;
    }

    .item-info{
        width: 601px;
        height: 230px;
        display: flex;
        align-content: space-around;
        flex-wrap: wrap;
    }

    .item-price{
        width: 601px;
        height: 50px;
        font-size: 30px;
        font-weight: bold;
        color: #4e4e4e;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .item-price p{
        margin-right: 30px;
    }

    .item-title{
        width: 601px;
        height: 110px;
        font-size: 40px;
        font-weight: bold;
        color: #4e4e4e;
        display: flex;
        align-items: center;
    }

    .quantity-area{
        width: 601px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delete{
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: grey;
    }

    .delete p{
        cursor: pointer;
    }

    .quantity{
        background: #fff;
        color: #333;
        border: 1px solid #d9d9d9;
        font-weight: normal;
        border-radius: 8px;
        height: 50px;
        min-width: 156px;
        padding: 0;
        font-size: 16px;
        margin-right: 30px;
        display: flex;
        cursor: pointer;
    }

    .quantity div{
        height: 50px;
        width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #ababab;
    }

    .quantity input{
        height: 50px;
        width: 52px;
        font-size: 25px;
        color: #ababab;
        border: none;
        text-align: center
    }

    .quantity .min-btn:hover,.plus-btn:hover{
        color: black;
        font-weight: bold;
    }

    .footer-box{
        width: 1176px;
        height: 50px;
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
    }

    .rating-area{
        margin-left: 50px;
    }

    .order{
        width: 370px;
        height: 230px;
        margin-top: 10px;
        border-radius: 8px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.16);
        background: #fff;
        display: flex;
        flex-wrap: wrap;
    }

    .total-price{
        width: 370px;
        height: 150px;
        display: flex;
        align-items: center;
    }

    .total-price p{
        margin-left: 10px;
        font-weight: bolder;
        font-size: 30px;
    }

    .order-btn-area{
        width: 370px;
        height: 80px;
        display: block;
    }

    .order-btn{
        width: 370px;
        height: 80px;
        border-radius: 8px;
        border: none;
        background: linear-gradient(to top, #8012c3, #ad00cc);
        color: #fff;
        border-style: hidden;
        outline: none;
        font-size: 20px;
        font-weight: bolder;
        cursor: pointer;
    }
    
</style>