<template>
    <div class="header-top">
        <div class="header-top-menu">
            <div class="city-select"><a href="#"><i class="fas fa-map-marker-alt"></i> Москва</a></div>
            <div class="header-top-nav">
                <div>
                    <ul>
                        <li><a href="#">Магазины</a></li>
                        <li><a href="#">Покупателям <i class="fas fa-sort-down"></i></a></li>
                        <li><a href="#">Юридическим лицам</a></li>
                    </ul>
                </div>
                <div class="sign-bar">
                    <p><i class="fas fa-phone-alt"></i> <b>8-800-700-4-666</b>  (c 03:00 до 22:00)</p>
                    <ul>
                        <li><a href="#"><i class="fas fa-bell"></i></a></li>
                        <li>
                            <template v-if="token !== null"><p>{{ userName }}</p></template>
                            <template v-else><router-link to="/login">Войти</router-link></template>
                        </li>
                        <li>
                            <template v-if="token !== null"><p v-on:click="logout()" class="logout-btn">Logout</p></template>
                            <template v-else><router-link to="/registration">Регистрация</router-link></template>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
import {mapGetters} from 'vuex'
export default {
    data() {
            return {
                
            }
        },
   computed: mapGetters({
            isSuccess: 'isSuccess',
            users: 'users',
            token:'token',
            userName:'userName',
        }),
        
   methods: {
       logout(){
           this.$store.dispatch('logoutRequest')
       }
   },
    
}
</script>

<style scoped>
.header-top{
    width: 100%;
    height: 33px;
    background-color: #8800a0;
    color: white;
    display: flex;
    justify-content: center;
}

.header-top-menu{
    height: 33px;
    display: flex;
}

.city-select{
    width: 270px;
    height: 33px;
    display: flex;
    align-items: center;
}

.city-select a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

.header-top-nav{
    width: 900px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
}

.header-top-nav ul{
    list-style: none;
}

.header-top-nav li{
    float: left;
    margin-left: 15px;
}

.header-top-nav a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}

.header-top-menu a:hover{
    color: #b76ec3
}

.sign-bar{
    display: flex;
}

.logout-btn{
    cursor: pointer;
}

.logout-btn:hover{
    color: #b76ec3;
}

@media only screen and (max-width: 1200px) {
  .city-select{
    width: 170px;
}
.header-top-nav{
    width: 800px;
}
}

@media only screen and (max-width: 990px){
    .header-top{
    display: none;
}
}

</style>