<template>
    <div class="container">
        
    </div>
</template>

<style scoped>
    .container{
        width: 100%;
        min-height: 600px;
        background-color: #f6f6f6;
    }
</style>