<template>
    <div class="header">
        <HeaderTop />
        <Navbar />
        <navbarMedia />
    </div>
</template>
<script>

import HeaderTop from '@/components/header/header-top/headerTop'
import Navbar from '@/components/header/navbar/navbar'
import navbarMedia from '@/components/header/navbarMedia/navbarMedia'
export default {
  name: 'PageHeader',
  components: {
    HeaderTop,
    Navbar,
    navbarMedia
  }
}
</script>
<style scoped>
  .header{
    width: 100%;
    position: fixed;
    grid-area: h;
  }
</style>