<template>
    <div class="footer">
        <div class="container">
          <div class="footer-main">
            <div class="footer-nav">
                <p>Компания DNS</p>
                <ul>
                    <li><router-link to="#">Корпоративные продажи</router-link></li>
                    <li><router-link to="#">Обратная связь</router-link></li>
                    <li><router-link to="#">Вакансии</router-link></li>
                    <li><router-link to="#">Новости</router-link></li>
                    <li><router-link to="#">Правила продаж</router-link></li>
                    <li><router-link to="#">Персональные данные</router-link></li>
                </ul>
            </div>
            <div class="footer-nav">
                <p>Покупателям</p>
                <ul>
                    <li><router-link to="#">Бонусная программа</router-link></li>
                    <li><router-link to="#">Подарочные карты</router-link></li>
                    <li><router-link to="#">Проверка оплаты счёта</router-link></li>
                    <li><router-link to="#">Кредиты</router-link></li>
                    <li><router-link to="#">Доставка</router-link></li>
                    <li><router-link to="#">Сервисные центры</router-link></li>
                    <li><router-link to="#">Статус оборудования СЦ</router-link></li>
                    <li><router-link to="#">Клуб DNS</router-link></li>
                </ul>
            </div>
            <div class="footer-nav">
                <p>Помощь</p>
                <ul>
                    <li><router-link to="#">Как оформить заказ</router-link></li>
                    <li><router-link to="#">Обмен и возврат товара</router-link></li>
                    <li><router-link to="#">Гарантийное обслуживание</router-link></li>
                    <li><router-link to="#">Информация для юр. лиц</router-link></li>
                    <li><router-link to="#">Статусы заказов</router-link></li>
                    <li><router-link to="#">База знаний</router-link></li>
                </ul>
            </div>
            <div class="footer-nav">
                <p>Прайс листы</p>
                <ul>
                    <li>
                        <router-link to="#">Microsoft Excel (5.73 Мб)</router-link>
                        <br/>
                        <span>Обновлен 17.01.2020 01:41</span>
                        </li>
                    
                    <li>
                        <router-link to="#">Zip-архив (1.12 Мб)</router-link>
                        <br/>
                        <span>Обновлен 17.01.2020 01:41</span>
                    </li>
                    
                </ul>
            </div>
            <div class="footer-right-nav">
                <p>Оставайтесь на связи</p>
                <div class="footer-nav-icons">
                    <div class="vk-icon"><i class="fab fa-vk"></i></div>
                    <div class="fb-icon"><i class="fab fa-facebook-f"></i></div>
                    <div class="tw-icon"><i class="fab fa-twitter"></i></div>
                    <div class="yt-icon"><i class="fab fa-youtube"></i></div>
                </div>
                <p class="subscription-title">Рассылка о новинках и акциях:</p>
                <form>
                    <div class="subscription-container">
                        <input type="text" placeholder="Введите email и подпишитесь" class="subscription-input">
                        <span class="subscription-submit">↵</span>
                    </div>
                </form>
                <p class="footer-phone">8-800-700-4-666 (c 03:00 до 22:00)</p>
                <p class="footer-shops-link"><router-link to="#">Адреса магазинов в г. Москва</router-link></p>
            </div>
          </div>
          <div class="footer-responsibility">
              <p>Администрация Сайта не несет ответственности за размещаемые Пользователями материалы (в т.ч. информацию и изображения), их содержание и качество.</p>
          </div>
          <div class="footer-copyright">
              <p>© 2002—2020 Компания DNS</p>
          </div>
        </div>
    </div>
</template>

<style scoped>
    .footer{
        width: 100%;
        height: 460px;
        background-color: #333;
        grid-area: f;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container{
        width: 1176px;
        height: 460px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .footer-main{
        width: 1176px;
        height: 300px;
        color: white;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #444;
        margin-top: 40px;
    }

    .footer-nav{
        width: 230px;
        height: 300px;
    }

    .footer-nav p{
        margin-bottom: 20px;
        font-size: 18px;
    }

    .footer-nav ul{
       list-style: none; 
    }

    .footer-nav li{
        margin-bottom: 12px;
    }

    .footer-right-nav{
        width: 256px;
        height: 300px;
    }

    .container a{
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    .container a:hover{
        color: #b710b7;
    }

    .footer-nav-icons{
        width: 200px;
        height: 40px;
        margin-top: 20px;
        display: flex;
    }

    .footer-nav-icons div{
        width: 35px;
        height: 35px;
        border: 1px solid grey;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        font-size: 20px;
    }

    .vk-icon:hover{
        border: 1px solid #4a76a8;
        color: #4a76a8;
    }

    .fb-icon:hover{
        border: 1px solid #3b5998;
        color: #3b5998;
    }

    .tw-icon:hover{
        border: 1px solid #1da1f2;
        color: #1da1f2;
    }

    .yt-icon:hover{
        border: 1px solid #ff0000;
        color: #ff0000;
    }

    .subscription-title{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .subscription-container{
        width: 266px;
        position: relative;
    }

    .subscription-input{
        width: 240px;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #eee;
        font-size: 16px;
        display: block;
        color: #777;
        outline: none;
    }

    .subscription-submit{
        border-radius: 8px;
        content: "↵";
        background-image: linear-gradient(90deg, rgba(255,255,255,0), #fff 20%, #fff 100%);
        position: absolute;
        padding: 0 12px;
        text-align: center;
        top: 1px;
        right: 1px;
        font-size: 20px;
        color: #777;
        cursor: pointer;
        height: 42px;
        line-height: 46px;
    }

    .footer-phone{
        font-size: 14px;
        margin-top: 23px;
        margin-bottom: 15px;;
    }

    .footer-shops-link{
        text-decoration: underline;
    }

    .footer-responsibility{
        width: 1176px;
        height: 60px;
        border-bottom: 1px solid #444;
        color: #999;
        font-size: 14px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .footer-copyright{
        width: 1176px;
        height: 60px;
        color: #999;
        font-size: 14px;
        display: flex;
        justify-content: start;
        align-items: center;
    }

</style>