<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>

import MainLayout from '@/layouts/MainLayout'
import OutLayout from '@/layouts/OutLayout'
export default {
  name: 'app',
  computed: {
    layout(){
      return this.$route.meta.layout + '-layout'
    }
  },
  components: {
    MainLayout,
    OutLayout
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: grid;
  grid-template-areas: "h""c""f";
}
</style>
