<template>
  <div>
    <PageHeader />
    <Contain />
    <Footer />
  </div>
</template>

<script>

import PageHeader from '@/components/header/PageHeader'
import Contain from '@/components/contain/contain'
import Footer from '@/components/footer/footer'
export default {
  components: {
    PageHeader,
    Contain,
    Footer
  },
  mounted(){
    this.$store.dispatch('getLocalStorage'); 
  },
}
</script>