<template>
    <div class="container">
        <div class="logo">
            <router-link to="/"><b>DNS</b></router-link> 
        </div>
        <div class="main-contein">
            <div class="main">
                <div class="topic">
                    <p>Регистрация</p>
                </div>
                <div class="password-topic">
                    <label for="login-input">Имя</label>
                </div>
                <div class="login-input-contain">
                    <input v-model="name"  type="email" id="registrate-name-input" @keyup.enter="registrate()">
                </div>
                <div class="password-topic">
                    <label for="login-input">Адрес электронной почты(e-mail)</label>
                </div>
                <div class="login-input-contain">
                        <input v-model="email" type="email" id="ragistrate-email-input" @keyup.enter="registrate()">
                </div>
                <div class="password-topic">
                    <label for="password-input">Пароль</label>
                </div>
                <div class="password-input-contain">
                        <input v-model="password" type="password" id="ragistrate-password-input" placeholder="Не менее 6 символов" @keyup.enter="registrate()">
                </div>
                <div class="sign-btn-area">
                    <router-link :to="path">
                    <button class="sign-btn" v-on:click="registrate()" >Зарегистрироваться</button>
                    </router-link>
                    <p class="error">{{ registErr }}</p>
                </div>
                <div class="registration-link">
                    <router-link :to="loginPage">Войти в личный кабинет</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data() {
            return {
                routeTest: {},
                name: null,
                email: null,
                password: null,
                registErr: null,
                loginPage: '',
                path: '/registration/?route=' + this.$route.query.route && '/registration/?route=' + this.$route.query.route != undefined ? '/registration/?route=' + this.$route.query.route : '/registration'
            }
        },
    computed:mapGetters({
            token:'token',
            error:'error'
        }),
    methods:{
        registrate(){
            /* eslint-disable no-console */
            const user = {
                email: this.email,
                password: this.password,
                name: this.name
            };
            this.$store.dispatch('addUser',user)
        }
    },
    watch: {
        'token'(newVal){
            if(newVal){
                if(this.$route.query.route  && this.$route.query.route != 'undefined'){    
                    if(this.routeTest.comment && this.routeTest.rating && this.routeTest.id){
                        const comment = {
                            book_id: this.routeTest.id,
                            rating: this.routeTest.rating,
                            comment: this.routeTest.comment
                        }
                        this.$store.dispatch('addComment',comment);
                        this.$router.push('/' + this.$route.query.route)
                    }else{
                        this.$router.push('/' + this.$route.query.route)
                    }   
                }else{
                    this.$router.push('/')
                }    
            }else{
                this.$router.push('/registration')
            }
        },
        'error'(newVal){
                if(newVal){
                this.registErr = 'неверные или занятие данные'
            }
        }
    },
    mounted(){
        this.routeTest = this.$route.query;
        
         if(this.$route.query.route){
             if(this.$route.query.comment && this.$route.query.rating && this.$route.query.id){
                 this.loginPage = '/login/?route=' + this.$route.query.route + '&comment=' + this.$route.query.comment + '&rating=' + this.$route.query.rating + '&id=' + this.$route.query.id
             }else{
                 this.loginPage = '/login/?route=' + this.$route.query.route
             }    
                }else{
                     this.loginPage = '/login'
                } 
    }
}
</script>

<style scoped>
    .container{
        background-color: #f4f4f4;
        height: 969px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo a{
        font-size: 60px;
        text-decoration: none;
        color: #e3e2e1;
    }

    .main-contein{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .main{
        height: 450px;
        border: 2px solid #ccc;
        border-radius: 15px;
        width: 530px;
        margin: 15px auto;
        background-color: #fff;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .topic{
        width: 450px;
        font-size: 26px;
        margin-top: 30px;
    }

    .login-input-contain input{
        font-size: 16px;
        width: 450px;
        height: 30px;
        margin-top: 7px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 3px 0 3px;
    }

    .password-topic{
        width: 450px;
    }

    .password-input-contain input{
        font-size: 16px;
        width: 450px;
        height: 30px;
        margin-top: 7px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 0 3px 0 3px;
    }

    .sign-btn-area{
        width: 450px;
        border-bottom: 2px solid #ccc;
        text-align: center;
        margin-bottom: 20px;;
    }

    .sign-btn{
        border: none;
        background-color: #ff6801;
        color: #fff;
        height: 50px;
        width: 220px;
        font-size: 17px;
        font-weight: bold;
        box-shadow: 0 1px 3px rgba(0,0,0,.5);
        border-bottom: 1px solid rgba(0,0,0,.25);
        text-shadow: 0 -1px 1px rgba(0,0,0,.25);
        border-radius: 5px;
    }

    .registration-link a{
        color: #0493d9;
        text-decoration: none;
        font-weight: 700;
}
    .error{
        color:red;
    }

</style>