<template>
    <div class="navbar" id="navbar">
        <div class="container">
            <div class="input-bar">
                <div class="catalog-btn" @click="dropdown()">
                    <p> <b>Каталог тобаров <i class="fas fa-sort-down" id="icon-arrow"></i></b></p>
                    <DropdownCatalog :class="{'dropdown-show': drop}" />
                </div>
                <form action="/search/"><input type="search" class="search-input" placeholder="  Поиск среди более 100 000 товаров"></form>
            </div>
            <div class="navbar-menu">
                <p><i class="far fa-chart-bar"></i> <a href="#">Сравнение</a></p>
                <p><i class="fas fa-heart"></i> <router-link to="/chosen">Избранное<div class="chosen-count" :class="{'chosen-count-show': chosenCountShow}">{{ chosenData.length }}</div></router-link></p>
                <p><i class="fas fa-shopping-basket"></i> <router-link to="/basket">Корзина<div class="count-box" :class="{'count-show': countShow}">{{ count }}</div></router-link></p>
            </div>
        </div>
    </div>
</template>

<script>


import DropdownCatalog from '@/components/header/navbar/dropdownCatalog/dropdownCatalog'
import { mapGetters } from 'vuex'
export default {
  name: 'navbar',
  data() {
            return {
                countShow: null,
                chosenCountShow: null,
                drop: null
            }
   },
   computed:mapGetters({
            count: 'count',
            chosenData: 'chosenData'
        }),
    mounted(){
        /* eslint-disable no-console */
        if(this.count > 0){
                this.countShow = true
            }else if(this.count == 0){
                this.countShow = false
            }
        if(this.chosenData.length > 0){
                this.chosenCountShow = true
            }else if(this.chosenData.length == 0){
                this.chosenCountShow = false
            }
   },
   watch: {
        'count'(newVal){
            /* eslint-disable no-console */
            if(newVal > 0){
                this.countShow = true
            }else if(newVal == 0){
                this.countShow = false
            }
        },
        'chosenData'(newVal){
            /* eslint-disable no-console */
            if(newVal.length > 0){
                this.chosenCountShow = true
            }else if(newVal.length == 0){
                this.chosenCountShow = false
            }
        },
    },
  components: {
    DropdownCatalog
  },
  methods:{
      dropdown: function(){
            this.drop = !this.drop
            }
        }
    }
        


</script>

<style>
.navbar{
    width: 100%;
    height: 60px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px #80808073;
    display: flex;
    justify-content: center
}

.container{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.input-bar{
    display: flex;
    justify-content: space-around;
}

.catalog-btn{
    width: 300px;
    height: 40px;
    background-color: #8800a0;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.catalog-btn:hover{
    background-color: #b738ce;
}

.search-input{
    width: 500px;
    height: 40px;
    border-radius: 8px;
    font-size: 17px;
    outline: none;
    border: 1px solid #cccccc;
    margin-left: 25px;
}

.navbar-menu{
    display: flex;
    justify-content: space-around;
    color: #cccaca;
}

.navbar-menu a{
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.navbar-menu p{
    margin-left: 24px;
}

.navbar-menu a:hover{
    color: #b76ec3;
}

.count-box{
    background-color: #ff8f04;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    position: absolute;
    top: 42px;
}

.count-show{
    display: flex;
}

.chosen-count{
    background-color: #ff8f04;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    display: none;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    position: absolute;
    top: 42px;
}

.chosen-count-show{
    display: flex;
}

@media only screen and (max-width: 1200px) {
  .catalog-btn{
    width: 200px;
}

.search-input{
    width: 400px;
}
}

@media only screen and (max-width: 990px){
   .navbar{
    display: none;
} 
}
</style>